.App {
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
  max-width: 100vw;
}

.fullscreenImage {
  max-height: 120vh;
  max-width: 100vw;
}

.removeButton, .checkButtonYes, .checkButtonNo {
  position: absolute;
  background-color: transparent;
  border: none;
  text-align: right;
  right: 2%
}

.checkButtonYes {
  margin-top: 1%;
}

.checkButtonNo {
  margin-top: 3%;
}



.fullscreenImageHolder {
  display: absolute;
  top: 0;
  background-color: grey;
  opacity: 0.8;
  
}

.previewimg {
  max-width: 15vw;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
  margin-top: -3px;
}

.singleEntryDiv {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.singleEntryP {
  padding: 1vw;
}

.bodyHolderDiv {
display: block;
flex-direction: column;
align-items: center;
}

.toolbarHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1vh;
}
.switchHolder p, .slideHolder p {
  margin: 0
}

.slideHolder {
  margin-top: -0.5vh;
}

.toolbarButtonsHolder {
}

.formHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.libHolder {
  max-width: 99vw;
}

.entryContainer {
  display: flex;
  flex-direction: row;
  margin: 1vh;
  border: 2px solid white;

}

.editButton {
  background-color: transparent;
  border: none;
  text-align: right;
  font-size: 10px;
}

.editButton:hover, .removeButton:hover, .checkButtonYes:hover, .checkButtonNo:hover {
  font-weight: bold;
}

.imagesContainer {
  display: flex;
  max-width: 70%;
  min-width: 50%;
  flex-wrap: wrap;
}
.photoHolder {
}

.infoContainer {
  vertical-align: center;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  text-align: left;
 
}
.toolbarButton {
  border-radius: 10%;
  background-color: transparent;
  margin: 2vh;
}
.textContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.notesContainer {
  padding: 2vh;  
}
.archiveImage {
}
.singleDataHolder {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  padding: 1vh;
}

.singleDataH4,.singleDataP {
  margin-top: 0;
  margin-bottom: 0
}
.singleDataH4 {
  margin-right: 2vw;
}


.slideHolder h3, .switchHolder h3 {
  margin: 0;
}


.submitHolder, .uploadHolder {
  margin-top: 5vh;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 25vh;
  height: 25vh;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}

@media (min-width: 370px) {
  .toolbarHolder {
    flex-wrap: wrap;
    max-width: 95vw;
  }
  .singleEntryDiv {
    max-width: 85vw;
    align-items: center;
  }
  .infoContainer {
    flex-wrap: wrap;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}